<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <title>Document</title>
</head>
<body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
        
            <div  class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}>{{ message }}" role="alert">
                {{message}}
              </div>
            {% endfor %}
        </ul>
        {% endif %}

        <center>
    <h1> Xos geldin {{ request.user.username }} </h1>
    <a href="{% url 'logout' %}"  class="btn btn-warning">Cixis</a>
    <a href="{% url 'newtask' %}"  class="btn btn-warning">Yeni Task</a>
   
</center>
<br>
<script>
</script>
<table id="test" class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Paylasan</th>
            <th scope="col">title</th>
            <th scope="col">text</th>
            <th scope="col">deadline</th>
            <th scope="col">create date</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Rey</th>
            
          </tr>
        </thead>
        <tbody>
            {% for tsk in task %}
          <tr>
            <th scope="row">{{tsk.id}}</th>
            <td>

                {% if request.user.username == tsk.paylasan %}

                Mən
                {% else %}

                {{tsk.paylasan}}

                {% endif %}
  

            </td>
            <td><a href="{% url 'details' tsk.id %}">{{tsk.title}}</a></td>
            <td>{{tsk.text}}</td>
            <td>{{tsk.deadline}}</td>
            <td>{{tsk.created_date}}</td>
            <td><a href="{% url 'update' tsk.id %}" class="btn btn-warning" >yenile</a></td>
            <td><a href="{% url 'delete' tsk.id %}" class="btn btn-danger" >sil</a></td>
            <td><a href="{% url 'comments' tsk.id %}" class="btn btn-info" >Serh Yaz</a></td>
            <td><a href="{% url 'share' tsk.id %}"  class="btn btn-warning">paylas</a></td>
            
          </tr>
            {% endfor %}
        </tbody>
      </table>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
</body>
</html>